[submodule "z64viewer"]
	path = z64viewer
	url = https://github.com/z64tools/z64viewer
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "toml11"]
	path = toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "wren"]
	path = wren
	url = https://github.com/wren-lang/wren
